body {
  margin: 0;
  font-family: '나눔고딕', sans-serif;
  background: linear-gradient(100deg, #3D3C3A, #121212);
  color: #ffffff;
  text-align: center;
  min-height: 100vh; /* 최소 높이를 100vh로 설정하여 화면을 꽉 채움 */
  padding-bottom: 50px; /* 하단 여백 추가 */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #3D3C3A;
}

header .logo {
  font-size: 24px;
  font-weight: bold;
  color: #f1c40f;
}

header .login {
  font-size: 16px;
  color: #f1c40f;
  cursor: pointer;
  text-decoration: none;
}

h1 {
  font-size: 48px;
  margin: 50px 0;
  color: #f1c40f;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 60px;
  background: #f1c40f;
  color: #000;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 8px 15px rgba(241, 196, 15, 0.3);
  transition: all 0.3s ease;
}

.button:hover {
  background: #ffc107;
  box-shadow: 0 12px 20px rgba(241, 196, 15, 0.4);
}

footer {
  margin-top: 50px;
  color: #777;
  font-size: 14px;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    padding: 10px;
  }

  header .logo {
    font-size: 32px;
  }

  header .login {
    font-size: 18px;
    margin-top: 10px;
  }

  h1 {
    font-size: 36px;
  }

  .button {
    width: 250px;
    height: 80px;
    font-size: 20px;
  }

  .buttons {
    gap: 30px;
  }

  footer {
    font-size: 16px;
  }
}

#user-info {
  font-size: 20px; /* 크게 설정 */
  color: #ffc107;  /* 색상 설정 */
  margin: 20px 0;  /* 위아래 여백 추가 */
}