body {
  margin: 0;
  font-family: '나눔고딕', sans-serif;
  background: linear-gradient(100deg, #3D3C3A, #121212);
  color: #ffffff;
  text-align: center;
  min-height: 100vh; /* 최소 높이를 100vh로 설정하여 화면을 꽉 채움 */
  padding-bottom: 50px; /* 하단 여백 추가 */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #3D3C3A;
}

header .logo {
  font-size: 24px;
  font-weight: bold;
  color: #f1c40f;
}

header .login {
  font-size: 16px;
  color: #f1c40f;
  cursor: pointer;
  text-decoration: none;
}

h1 {
  font-size: 48px;
  margin: 50px 0;
  color: #f1c40f;
}

h3 {
  font-size: 20px;
  color: #f1c40f;
}

.calendar {
  margin-bottom: 20px;
}

.time-slots {
  text-align: center;
}

.buttons {
  display: flex;
  flex-wrap: wrap; /* 버튼이 여러 줄로 나올 수 있도록 설정 */
  justify-content: center; /* 중앙 정렬 */
  gap: 10px; /* 버튼 간의 간격 조정 */
  padding: 0 20px; /* 좌우 여백 추가 */
}

.button {
  flex: 1 1 70px; /* 버튼의 기본 너비를 70px로 설정하고, 화면 크기에 따라 유동적으로 조정 */
  max-width: 100px; /* 버튼의 최대 너비를 설정 */
  height: 30px; /* 높이는 유지 */
  background: #f1c40f;
  color: #000;
  font-size: 12px; /* 폰트 크기 */
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 5px; /* 모서리를 둥글게 */
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(241, 196, 15, 0.3);
  transition: all 0.3s ease;
  margin: 2px; /* 버튼 간의 여백 */
}


.button.active {
  color: #f1c40f; /* 클릭된 버튼의 글자색 */
}

.button:hover {
  background: #3d3c3a;
  box-shadow: 0 8px 15px rgba(255, 204, 0, 0.4);
}

.button.unavailable {
  background-color: red; /* 예약 불가능 버튼 색상 */
  color: #3d3c3a; /* 예약 불가능 버튼 글자 색상 */
  cursor: not-allowed; /* 마우스 커서 변경 */
}

#reserve-button.button {
  width: 100%; /* 부모 요소의 너비에 맞게 조정 */
  max-width: 200px; /* 최대 너비 설정 */
  height: 70px; /* 높이 설정 */
  white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
  overflow: hidden; /* 넘치는 텍스트 숨김 */
  text-overflow: ellipsis; /* 넘치는 텍스트에 생략 부호 추가 */
  font-size: 20px; /* 폰트 크기 설정 */
  cursor: pointer; /* 커서 포인터로 변경 */
  background-color: #2ecc71;
  color: #3D3C3A;
}
#reservation-status {
  margin: 10px 0;
}

footer {
  margin-top: 50px;
  color: #777;
  font-size: 14px;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    padding: 10px;
  }

  header .logo {
    font-size: 32px;
  }

  header .login {
    font-size: 18px;
    margin-top: 10px;
  }

  h1 {
    font-size: 36px;
  }

  .button {
    height: 40px; /* 모바일에서 버튼 높이 조정 */
    font-size: 14px;
  }

  #reserve-button.button {
    font-size: 16px; /* 작은 화면에서 폰트 크기 조정 */
  }

  footer {
    font-size: 16px;
  }
}