body {
  margin: 0;
  font-family: '나눔고딕', sans-serif;
  background: linear-gradient(100deg, #3D3C3A, #121212);
  color: #ffffff;
  text-align: center;
  min-height: 100vh; /* 최소 높이를 100vh로 설정하여 화면을 꽉 채움 */
  padding-bottom: 50px; /* 하단 여백 추가 */
}

h1 {
  font-size: 48px;
  margin: 50px 0;
  color: #f1c40f;
}

#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

input[type="number"] {
  width: 250px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #000;
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
  box-shadow: 0 0 5px #f1c40f;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 60px;
  background: #f1c40f;
  color: #000;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 8px 15px rgba(241, 196, 15, 0.3);
  transition: all 0.3s ease;
}

.button:hover {
  background: #ffc107;
  box-shadow: 0 12px 20px rgba(241, 196, 15, 0.4);
}

footer {
  margin-top: 50px;
  color: #777;
  font-size: 14px;
  padding: 20px 0; /* 푸터에 패딩 추가 */
}

@media (max-width: 768px) {
  h1 {
    font-size: 36px;
  }

  input[type="text"],
  input[type="password"] {
    width: 80%; /* 모바일에서 입력 필드 너비 조정 */
  }

  .button {
    width: 80%; /* 모바일에서 버튼 너비 조정 */
  }
}
