<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로그인 - JD GOLF ACADEMY</title>
  <link rel="stylesheet" th:href="@{/css/login.css}">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<main>
  <a th:href="@{/}">
    <h1>JD GOLF ACADEMY</h1>
  </a>
  <form th:action="@{/members/login}" th:object="${logInRequest}" method="post" id="login-form">
    <input type="number" id="phoneNumber" placeholder="전화번호 (- 없이 숫자)" required th:field="*{phoneNumber}">
    <input type="number" id="memberId" placeholder="회원번호 (4자리 숫자)" required th:field="*{memberId}">
    <button type="submit" class="button" id="login-button">로그인</button>
  </form>
</main>
<footer>
  &copy; 2025 JD Golf Academy. All rights reserved.
</footer>
</body>
</html>
